.features{
    text-align: center;
    padding: 60px 40px;
}
.features h2{
  
    margin-bottom: 20px;
}
.feature-cards{
    display: flex;
    justify-content: center;
   
    gap: 20px;
}


.feature-cards p {
  background-color: #f1f5f9;
  padding: 40px 32px;      /* pehle chhota tha, ab bada kiya */
  border-radius: 12px;
  width: 280px;              /* pehle 200px tha, ab bada */
  font-size: 16px;
  text-align: center;
}